<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %p [%c] %F:%L %m%n" />
		</Console>
		<RollingRandomAccessFile name="ROLLING_LIPS"
			fileName="/localwork/log/njtx/lips/app-std.log" filePattern="/localwork/log/njtx/lips/app-std_%d{yyyy-MM-dd}.log.gz">
			<PatternLayout charset="UTF-8">
				<Pattern>%d %p [%c] %F:%L %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="CONSOLE" />
		</Root>
		
		<Logger name="logger.njtx.lips" level="info">
			<AppenderRef ref="ROLLING_LIPS" />
		</Logger>
	</Loggers>
</Configuration>